  
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
height: 100%;
width: 100%;
background-color: rgb(250, 250, 250);
font-family: Arial, Helvetica, sans-serif
}

.masterCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerCont {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerContLeft,
.headerContRight,
.footerContLeft,
.footerContRight {
    width: 10%;
    height: 100%;
}

.headerContMiddle img{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerContMiddle {
    width: 75%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 100%;
}

.mainImageCont {
    height: 450px;
    width: 500px;
    position: absolute;
    top: 160px;
    left: 320px;
    border: .5px solid rgb(217, 217, 217);
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainImageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.imageSideBar {
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 350px;
    position: absolute;
    top: 160px;
    right: 258px;
    border-top: .5px solid rgb(217, 217, 217);
    border-right: .5px solid rgb(217, 217, 217);
    border-bottom: .5px solid rgb(217, 217, 217);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.thumbs {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 6px;
}

.footerCont {
    background-color: rgb(250, 250, 250);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    /* 480px
    640px
    768px
    1024px
    1200px */

@media only screen and (min-width: xxxxpx) {
    
}