  
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
height: 100%;
width: 100%;
background-color: rgb(250, 250, 250);
font-family: Arial, Helvetica, sans-serif
}

.masterCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerCont {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerContLeft,
.headerContRight,
.footerContLeft,
.footerContRight {
    width: 10%;
    height: 100%;
}

.headerContMiddle img{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerContMiddle {
    width: 75%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 100%;
}

.mainImageCont {
    height: 450px;
    width: 500px;
    position: absolute;
    top: 160px;
    left: 320px;
    border: .5px solid rgb(217, 217, 217);
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainImageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.imageSideBar {
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 350px;
    position: absolute;
    top: 160px;
    right: 258px;
    border-top: .5px solid rgb(217, 217, 217);
    border-right: .5px solid rgb(217, 217, 217);
    border-bottom: .5px solid rgb(217, 217, 217);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.thumbs {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 6px;
}

.footerCont {
    background-color: rgb(250, 250, 250);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    position: absolute; /*stay in place*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.687);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 9; /*sit on top*/
    transition: opacity 200ms ease-in,
                z-index 1ms linear;
  }

  .hidden {
    opacity: 0;
    z-index: -1;
  }

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white; 
  }

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* < 450px */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}